/* vars */
$estilo-letra-ppal: 'Shadows Into Light', cursive;
$estilo-letra-scd:'Permanent Marker', cursive;
$tamaño-letra:25px;
$color-borde: 2px solid white;
$color-fondo-ppal:#ff80ab;
$bg-footer:#b0003a;

